*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: #070724;
  color: white;
  height: 100vh;
}

h1 {
  font-weight: normal;
}


hr {
  opacity: 0.2;
  border-top: 1px solid white;
  border-bottom: none;
}
