.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 24px;
}

@media (min-width: 768px){
  .topNav {
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px){
  .topNav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
}


.topNav__title {
  font-family: "Antonio", "sans-serif";
  font-size: 22px;
  text-decoration: none;
  color: white;
  line-height: 1.3em;
  font-weight: normal !important;
}

@media (min-width: 768px){
  .topNav__title{
    margin: 12px auto 28px auto;
  }
}

@media (min-width: 1440px){
  .topNav__title{
    flex-basis: 50%;
    margin: 24px 0;
  }
}


.topNav__hamburger {
  display: none;
}

@media (min-width: 768px){
  .topNav__hamburgerButton{
    display: none;
  }
}


.topNav__hamburger hr {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.1;
}

.topNav__planetBar {
  display: none;
}

@media (min-width: 768px){
  .topNav__planetBar {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-evenly;
  }
}

@media (min-width: 1440px){
  .topNav__planetBar {
    display: flex;
    flex-basis: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }
}
