.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 24px;
}


.topNav__planetBar {
  display: none;
  justify-content: space-around;
  margin: 27px 52px;
}


@media (min-width: 768px){

  .topNav {
    flex-direction: column;
  }


  .topNav__hamburgerButton {
    display: none;
  }

  .topNav__planetBar {
    display: flex;
  }

}
