.main__planet {
  margin: 28px 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .main__planet {
    grid-column: 1 / span 6;
    grid-row: 7 / span 2;
    text-align: left;
    flex-basis: 50%;
    margin: 0 40px;
  }
}

@media (min-width: 1440px) {
  .main__planet {
    grid-column: 7 / span 4;
    grid-row: 2 / span 3;
    text-align: left;
    flex-basis: 50%;
    margin-right: 80px;
  }
}


.planet__title {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "Antonio", "sans-serif";
  font-size: 40px;
  font-weight: normal;
  line-height: 1.3em;
}

@media (min-width: 768px){
  .planet__title {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px){
  .planet__title {
    font-size: 80px;
  }
}

.planet__paragraph {
  font-family: "Spartan", "sans-serif";
  font-weight: normal;
  font-size: 11px;
  line-height: 2em;
  opacity: 0.9;
  margin-bottom: 32px;
}

@media (min-width: 1440px){
  .planet__paragraph {
    font-size: 14px;
  }
}

.planet__paragraph strong {
  text-decoration: underline;
}


.planet__paragraph a {
  color: inherit;
}


.planet__paragraph--source {
  opacity: 0.5;
  margin-bottom: 0;
}

.fa-square-arrow-up-right {
  margin-left: 5px;
}
