main {
  background-image: url(../../assets/background-stars.svg);
  background-repeat: repeat;
}


.main__secondaryNav {
  display: flex;
  justify-content: space-around;
  margin: 17px 0;
}


.main__planetIcon {
  display: block;
  height: 111px;
  margin: 98px auto;
  text-align: center;
}


.main__text {
  margin: 28px 24px;
}


.main__text--overview {
  display: block;
}


.main__text--structure {
  display: none;
}


.main__text--surface {
  display: none;
}
