main {
  background-image: url(../../assets/background-stars.svg);
}


.main__secondaryNav {
  display: flex;
  justify-content: space-around;
  margin: 17px 0;
}


.main__planetIcon {
  display: block;
  height: 111px;
  margin: 98px auto;
  text-align: center;
}


.main__text {
  margin: 28px 24px;
}
