main {
  background-image: url(../../assets/background-stars.svg);
  background-repeat: repeat;
  padding-bottom: 30px;
}


.main__secondaryNav {
  display: flex;
  justify-content: space-around;
  margin: 17px 0;
}

.main__iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
}


.main__icon {
  height: 150px;
  margin: 100px auto;
}

.main__icon--surface {
  position: absolute;
  height: 130px;
  bottom: 0;
}


.main__planet {
  margin: 28px 24px;
}


.main__table {
  padding: 30px 24px;
  width: 100%;
}
