.main__planetANDsecondaryNav {
  display: flex;
}


@media (min-width: 1440px){

  .main__planetANDsecondaryNav {
    flex-direction: column;
    flex-basis: 60%;
    margin-right: 165px;
    margin-top: 115px;
    margin-bottom: 70px;
  }

}
